@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/form.css" />
<script src="~/Scripts/check_form.js"></script>

<form onsubmit="return checkAll();" action="/Register/Register" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td></td>
            <td class="td_widget">
                <h2>请输入个人详细信息</h2>
            </td>
        </tr>
        <tr>
            <td class="td_text"><span class="star">*</span>用户名</td>
            <td class="td_widget">
                <input type="text" id="username" name="username" onblur="checkUsername()" /><span id="username_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text"><span class="star">*</span>密码</td>
            <td class="td_widget">
                <input type="password" id="password" name="password" onblur="checkPassword(); checkConfirm();" /><span id="password_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text"><span class="star">*</span>确认密码</td>
            <td class="td_widget">
                <input type="password" id="confirm_password" onblur="checkConfirm()" /><span id="confirm_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text"><span class="star">*</span>性别</td>
            <td class="td_widget">
                <input type="radio" name="sex" value="男" checked="checked" />男
                <input type="radio" name="sex" value="女" />女<span id="sex_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text">籍贯</td>
            <td class="td_widget">
                <select size="1" id="select_province" name="province">
                    <option value="none"></option>
                    <option value="北京">北京</option>
                    <option value="山东">山东</option>
                    <option value="四川">四川</option>
                    <option value="广东">广东</option>
                    <option value="江苏">江苏</option>
                </select>
                <select size="1" id="select_region" name="region">
                    <option value="none"></option>
                </select><span id="origin_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text"><span class="star">*</span>Email</td>
            <td class="td_widget">
                <input type="email" id="email" name="email" placeholder="如 wustzz@163.com" onblur="checkEmail()" />
                <span id="email_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text"><span class="star">*</span>手机号</td>
            <td class="td_widget">
                <input type="tel" id="mobile" name="mobile" placeholder="11位，全数字" onblur="checkMobile()" />
                <span id="mobile_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text">专业擅长</td>
            <td class="td_widget">
                <select size="5" id="select_major" name="major" multiple="multiple">
                    <option value="Windows编程">Windows编程</option>
                    <option value="单片机编程">单片机编程</option>
                    <option value="ASP.NET编程">ASP.NET编程</option>
                    <option value="J2EE编程">J2EE编程</option>
                    <option value="Java编程">Java编程</option>
                    <option value="C++编程">C++编程</option>
                    <option value="Oracle数据库">数据库</option>
                </select><span id="major_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text">业余爱好</td>
            <td class="td_widget">
                <input type="checkbox" name="hobbies" value="足球" />足球
                <input type="checkbox" name="hobbies" value="篮球" />篮球
                <input type="checkbox" name="hobbies" value="排球" />排球
                <input type="checkbox" name="hobbies" value="唱歌" />唱歌
                <input type="checkbox" name="hobbies" value="其他" />其他<span id="hobbies_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text">个人照片</td>
            <td class="td_widget">
                <input type="file" id="photo" name="photo" /><span id="photo_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text"><span class="star">*</span>出生年月</td>
            <td class="td_widget">
                <input type="text" id="datepicker" name="birthYM" onblur="checkBirthYM()" /><span id="birthYM_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td class="td_text">备注信息</td>
            <td class="td_widget">
                <textarea rows="5" id="textarea_remark" name="remark" placeholder="可以补充一下" ></textarea>
                <span id="remark_tip" class="tip"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="td_widget">
                <input type="submit" value="提交" />&nbsp;&nbsp;
                <input type="reset" value="重填" />
            </td>
        </tr>
    </table>
</form>


@section scripts{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.datepicker.css">
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange:"1800:2016",
                dateFormat: "MM yy",
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker("setDate", new Date(year, month, 1));
                }
            });
        });
    </script>
    <script src="~/Scripts/origin_select.js"></script>
}